<div class="masthead clearfix header_blur_mask"></div>
<div class="masthead clearfix header">
  <div class="inner">
    <h3 class="masthead-brand">Template title Meow</h3>
    <nav class="nav nav-masthead">
      <a href="/index" class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
      <a href="/login" class="nav-link">Login</a>
      <a href="/signup" class="nav-link">Signup</a>
    </nav>
  </div>
</div>
