<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.ejs %>
  </head>

  <body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <% include header.ejs %>

          <div class="container">
            <div class="starter-template">
              <%- body %>
            </div>
          </div>

          <% include footer.ejs %>

        </div>

      </div>

    </div>

  </body>
</html>
